body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    overflow-x: hidden;
}

.container{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time{
    background-color: #0000ffbe;
    height: 1em;
    width: 3em;
    border: solid black 1px;
}
#animated-timer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#timer{
    font-size: x-large;
}
#t10{
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}
#t1{
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

#primImg{
    border: 2px solid green;
}

#imgRef{
    height: 30vh;
}

#secImg{
    background-image: url(../Assets/images/imgFalse.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    width: 80vw;
    height: 30vh;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item{
    margin: 1rem;
}

#aquarium{
    width: 3.2rem;
}

#local-aquarium{
    position: relative;
    top: 170px;
    left: 148px;
    border: red solid 1px;
    width: 50px;
    height: 50px;
}

#local-ration{
    width: 50px;
    height: 50px;
}

#ration{
    width: 2.5rem;
}