*{
  margin: 0;
  padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');
@font-face {
  font-family: 'Bocah';
  src: url(bocah_2/Bocah.otf)  
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-image: url('/front-end/jogao/Assets/primeira_fase/blue-cartoon-background.png');
  background-image: linear-gradient(#fea5cf, #f4eeb5);
  /* background-image: url('/front-end/jogao/Assets/primeira_fase/blue-cartoon-background.png'); */
  background-image: url('https://img.freepik.com/vetores-gratis/criancas-jogando-jogo-de-tabuleiro-em-casa_1308-94835.jpg?t=st=1648165554~exp=1648166154~hmac=e9ab5b310027dab9f8213621a261ce916a1ae0b2a24028dc3f418bfa2b56c1bb&w=740');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

#drag-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #1677;
  border: solid #8962 5px;
  border-radius: 15px;
  width: 442px;
  height: 100px;
}

.container {
  /* border: 5px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time {
  background-color: #0000ffbe;
  height: 1em;
  width: 3em;
  /* border: solid black 1px; */
}
#animated-timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#timer {
  font-size: x-large;
}
#t10 {
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
}
#t1 {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

#primImg {
  border: solid #8962 5px;
  position: relative;
}

#imgRef {
  height: 35vh;
  display: block;
  max-width: 100vw;
}

#secImg {
  position: relative;
  border: solid #8962 5px;
}

#imgRef2 {
  height: 35vh;
  display: block;
  max-width: 100vw;
}

.local-img {
  position: absolute;
  /* border: red solid 1px; */
  width: 10%;
  height: 10%;
}

#local-aquarium {
  top: 81%;
  left: 77%;
  width: 11%;
  height: 16%;
}
#local-ration {
  top: 65%;
  left: 30%;
  width: 9%;
  height: 24%;
}
#local-balls {
  top: 82%;
  left: 25%;
  width: 6%;
}
#local-bowl {
  top: 89%;
  left: 91%;
  width: 7%;
}
#local-catFood {
  top: 34%;
  left: 27%;
  width: 4%;
  height: 4%;
}
#local-certificate {
  top: 33%;
  left: 72%;
  width: 11%;
  height: 14%;
}

.item {
  margin: 1rem;
}
h2 {
  font-family: 'Bocah';
  font-size: 2.5rem;
}
#aquarium {
  width: 51px;
}
#ration {
  width: 42px;

}
#balls {
  width: 25px;
}
#bowl {
  width: 32px;
}
#catFood {
  width: 18px;
}
#certificate {
  width: 51px;
}

.ordem{
  display: flex;
  flex-direction: row;
 
}

.ordem {
  display: flex;
  flex-direction: row;
}
#btn-voltar {
  width:185px;
  height:45px;
  background-color: #89C1FE;
  border-radius: 20px; 
  font-size: 25px;
  margin-top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}
#btn-voltar:hover {
  background-color: red;
}

