@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');
@font-face {
    font-family: 'Bocah';
    src: url('bocah_2/Bocah.otf') format('opentype'), url('bocah_2/Bocah.ttf') format('truetype');
  }

body {
    /* background-image: url(/front-end/jogao/Assets/tela_inicial/tela_inicial.png.png); */
    background-image: url(tela_inicial.png.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
.btn-1{
    
    width:190px;
    height:45px;
    background-color: #89C1FE;
    border-radius: 20px; 
    font-size: 25px;
    margin-top: 10%;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;

} 

.btn-2 {
    width:190px;
    height:45px;
    background-color: #89C1FE;
    border-radius: 20px;
    font-size: 25px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;

}

.btn-3 {
    width:190px;
    height:45px;
    background-color: #89C1FE;
    border-radius: 20px; 
    font-size: 25px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;

}
.btn-1:hover, .btn-2:hover, .btn-3:hover {
    background-color: red;
}

#img_start {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
}
.container{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time{
    background-color: #0000ffbe;
    height: 1em;
    width: 3em;
    border: solid black 1px;
}
#animated-timer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#timer{
    font-size: x-large;
}
#t10{
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}
#t1{
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

<<<<<<< Updated upstream
#primImg{
    border: 2px solid green;
}
=======
/* #primImg{
    /* border: 2px solid green; 
}*/
>>>>>>> Stashed changes

#imgRef{
    height: 30vh;
}

#secImg{
    background-image: url(./Assets/images/imgFalse.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    width: 80vw;
    height: 30vh;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dragImg {
    background-image: url('aquario\ 2.png');
    background-repeat: no-repeat, repeat;
    background-image: url('racao.png');
    background-position: center;    
    position: relative;
    height: 100px;
    width: 115px;
    top: 5px;
    left: 5px;
    cursor: pointer;
    
  }

  .hold {
    border: solid 5px #ccc;
  }
  
  .dropImg {
    display: inline-block;
    height: 160px;
    width: 160px; 
    height: 150px;
    width: 150px;
    margin: 10px;
    /* border: solid 3px salmon;  
     background: white;   */
  }

 /* .hovered {
    background: #f4f4f4;
    border-style: dashed;
  }    */